body {
    background-image: url(./img/bg2.png), url(./img/bg3.gif);
    background-position-y: -350px;
    background-size:cover;
    background-repeat: repeat;
}

button{
    background-color: transparent;
    height: 0px;
    width: 0px;
    color: #3498db;
    border: 0px;
    text-decoration: none;
}

div img{
    width: 40px;
}

#visor{
    width: 500px;
    height: 300px;
    position:absolute;
    top: 5px;
    right: 405px;
    
}

#painel{
    width: 300px;
    margin: 0 auto;
    position: absolute;
    right: 595px;
    top: 470px;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
}

#painel #timer{
    color: blueviolet;
    position: absolute;
    top: -5px;
    right: 50px;
    font-size: 25px;
    
}

#painel #textC{
    font-size: 18px;
    position: absolute;
    top: -100px;
    right: -8px;
    color: rgb(255, 0, 0);
}

#painel #textT{
    font-size: 25px;
    position: absolute;
    top: -50px;
    right: -45px;
}

#painel #textS{
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 5px;
}

#painel #score{
    font-size: 25px;
    position: absolute;
    top: 70px;
    right: 60px;
}

#box{
    margin: 0 auto;
}

.btn:active, .btn:hover, .btn:focus {
	outline: none !important;
	color: white;
}

.btn:active {
	transform: scale(0.9) translate(-55%, -55%);
}

.btn {
	transition: 0.2s;
	cursor:crosshair;
}

/* @media screen {
    
} */